# Ignore everything
*

# Allow these file types
!*.cu
!*.c
!*.cpp
!*.cuh
!*.h
!*.txt
!Makefile
!*.sh

# Allow all folders (but not hidden ones like .vscode)
!*/

# Ignore hidden files and folders
.*
!.gitignore

# Explicitly ignore .vscode folder
.vscode/
